    <!-- Footer -->
    <footer class="footer">
        <div class="container">

        </div><!-- / widgets container -->

        <!-- copyrights -->
        <div class="copyrights">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4"><p>&copy; 2014. All Rights Reserved.</p></div>
                    <div class="col-sm-4">
                        <ul class="list-inline socical-line">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div><!-- /.copyrights -->

    </footer>
    <!-- /Footer -->

    <div class="totop"><i class="fa fa-angle-up"></i></div>

</div><!-- /.wrapper -->

<!-- JS Global -->
<script src="/assets/plugins/jquery.min.js"></script>
<script src="/assets/plugins/jquery-migrate.min.js"></script>
<script src="/assets/plugins/modernizr.custom.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/plugins/superfish/js/superfish.js"></script>
<script src="/assets/plugins/prettyPhoto/js/jquery.prettyPhoto.js"></script>
<!--script src="/assets/plugins/placeholdem.min.js"></script-->
<script src="/assets/plugins/ajax-mail.js"></script>