<link href="/assets/css/theme.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="/assets/plugins/html5shiv.js"></script>
<script src="/assets/plugins/respond.min.js"></script>
<script src="/javascripts/jquery-1.11.2.min.js" type="text/javascript"></script>
<![endif]-->
</head>
<body class="wide">

<!-- Wrap all content -->
<div class="wrapper">
    <!-- Header -->
    <header class="header">
        <div class="container">

            <!-- Navigation -->
            <div id="mobile-menu"></div>
            <nav class="navigation clearfix">
                <ul class="sf-menu">
                    <!-- Logo -->
                    <li class="logo">
                        <a href="/blog/<%=id%>"><img src="/assets/img/logo.jpg" alt="블로그"/>Blog</a>
                    </li>
                    <!-- /Logo -->
                    <li><a href="/">Main</a></li>

                    <!-- isSessionSet:isSessionSet,isLoginAndLookOtherBloger:isLoginAndLookOtherBloger -->
                    <%
                    if(isSessionSet)
                    {
                    %>
                    <li><a href="/blog/<%= id %>/write/">Write Post</a></li>
                    <li><a href="/blog/<%= id %>/write300">~Write300~</a></li>
                    <li><a href="/member/logout">Logout</a></li>
                    <%
                    }
                    else
                    {
                    %>
                    <li><a href="/">Login</a></li>
                    <%
                    }
                    %>


                </ul>
                <!-- /.sf-menu -->
            </nav>
            <!-- /.navigation -->
            <!-- /Navigation -->

        </div>
        <!-- /.container -->
    </header>
    <!-- /.header -->

    <!-- /Header -->